div #desk {
    position: relative;
    margin: 40px auto;
    width: 1301px;
    transform-origin: top left 65px;
}

div.folder {
    background: #275579;
    margin: 0 auto;
    padding: 3px;
    width: 1171px;
    border-radius: 5px;
    left: 65px;
}

div.tabs {
    overflow: hidden;
}

div.tabs button {
    font-family: 'Trebuchet MS', sans-serif;
    float: left;
    padding: 7px 16px;
    margin: 6px 0 0 0;
    border: 1px solid #275579;
    border-radius: 10px 10px 0 0;
    background: #9fd4ff;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

div.tabs button:hover {
    background: #92c3ea;
}

div.tabs button.active {
    background: #7eafd6;
    padding: 10px 16px;
    margin: 0;
}

div.tabcontent {
    background: #e2f2ff;
    display: none;
    padding: 6px 12px;
    border: 1px solid #275579;
    border-radius: 0 0 5px 5px;
}
