body {
    background: #e2f2ff;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}

div.page {
    margin: 0 auto;
}

div #scalable {
    margin-left: 0;
    transform-origin: top left 0;
}

div.piano {
    position: relative;
    margin: 20px auto 0px auto;
	border-radius: 12px;
    background: #052138;
    width: 1301px;
    height: 285px;
}

div.display {
    position: absolute;
	border-radius: 12px 12px 0 0;
	background: #275579;
	top: 9px;
	left: 9px;
	width: 1283px;
    height: 50px;
}

div #scaleDisp {
    position: absolute;
	color: white;
	font-size: 28px;
	top: 5px;
	left: 441px;
	width: 401px;
	height: 40px;
	border-radius: 7px;
	text-align: center;
	line-height: 37px;
	background: #02101b;
	user-select: none
}

div.display arrow.left {
    position: absolute;
    top: 17px;
    left: 460px;
}

div.display arrow.right {
    position: absolute;
    top: 17px;
    left: 807px;
}

div.keys {
    position: absolute;
    background: #041829;
    top: 64px;
    left: 9px;
    width: 1280px;
    height: 200px;
    border-radius: 0 0 7px 7px;
}

div.whiteKey {
    background: #9fd4ff;
    border: 1px solid #052138;
	border-radius: 0 0 7px 7px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: calc(100%/36);
    height: 100%;
    z-index: 0;
}

div.whiteKey:hover {
    background: #92c3ea !important;
}

div.whiteKey:active {
    background: #7eafd6 !important;
    height: 95% !important;
}

div.whiteKey:focus {
    width: calc(100%/36 - 3px);
    border: 2px solid #052138;
    outline: none;
    box-shadow: 0 0 0 2px white;
    z-index: 1;
}

div.blackKey {
    background: #275579;
    border: 1px solid #275579;
	border-radius: 0 0 5px 5px;
    position: absolute;
    top: 1px;
    bottom: 0;
    right: 0;
    width: calc(100%/72 - 1px);
    height: 60%;
    z-index: 2;
}

div.blackKey:hover {
    background: #1d415d !important;
}

div.blackKey:active {
    background: #092d49 !important;
    height: 57% !important;
}

div.blackKey:focus {
    width: calc(100%/72 - 3px);
    border: 2px solid #052138;
    outline: none;
    box-shadow: 0px 0px 0px 2px white;
}

div.author {
    position: absolute;
    left: 1185px;
    top: 266px;
    color: #0c416d;
    user-select: none;
}
