div.topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.leftContent {
    display: flex;
    align-items: center;
}

div.moreSheets button {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color: white;
    cursor: pointer;
    outline: none;
    float: left;
    background: #275579;
    border: 1px solid #e2f2ff;
    user-select: none;
}

div.moreSheets button:hover {
    background: #1f4461;
}

div.moreSheets button:active {
    background: #19364e;
}

div.moreSheets button.import {
    padding: 6px 0;
    width: 200px;
}

div.moreSheets button.moreSheets {
    padding: 6px 30px;
}

div #Sheets div.selector {
    position: relative;
    left: 40px;
    width: 250px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

div.leftContent div.selector select {
    display: none;
}

div.selected {
    background: #275579;
}

div.selected:after {
    position: absolute;
    content: "";
    top: 11px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: white transparent transparent transparent;
}

div.selected.activeArrow:after {
    border-color: transparent transparent white transparent;
    top: 4px;
}

div.selectorItems {
    position: absolute;
    background: #275579;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

div.selectorItems div, div.selected {
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    border-color: transparent transparent #052138 transparent;
    cursor: pointer;
    user-select: none;
}

div.selectorItems div:hover, div.selectedOption {
    background-color: #1b3b54;
}

div #Sheets label {
    margin-left: 80px;
}

div.pages {
    position: relative;
    right: 5px;
}

div.pages arrow {
    vertical-align: middle;
}

div.pages span {
    user-select: none;
}

div.sheetBackground {
    position: relative;
    background: white;
    border: 1px solid #275579;
    margin: 7px auto;
    width: 1143px;
    height: 480px;
    min-height: 200px;
    resize: vertical;
    overflow-x: hidden;
    overflow-y: hidden;
}

div #sheet ul {
    width: 100%;
    height: 480px;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

/* Required because of overwrite */
div #sheet ul.hidden {
    display: none;
}

div #sheet li {
    display: table-cell;
    border: 1px solid black;
    border-color: transparent #bbbbbb transparent transparent;
    padding: 5px;
    white-space: nowrap;
}

div #sheet li.last {
    border-color: transparent transparent transparent transparent;
}

div #sheet br {
    line-height: 140%;
}

div #customInput {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 140%;
    box-sizing: border-box;
    padding: 5px;
    background: white;
    border: none;
    resize: none;
    white-space: nowrap;
}

div #customInput:focus {
    outline: none;
}
