div.changeMajorTutorial {
    position: relative;
}

div.changeMajorTutorial arrow.left {
    position: absolute;
    left: 690px;
    top: 0;
}

div.changeMajorTutorial arrow.right {
    position: absolute;
    left: 710px;
    top: 0;
}

div #Tutorial p {
    margin: 35px 0;
}

div #Tutorial br {
    line-height: 200%;
}
