div #Options div.selector {
    position: relative;
    width: 400px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

a {
    color: blue;
}

a:visited {
    color: blue;
}

a:active {
    color: red;
}

div #Options p {
    line-height: 10px;
}

div #Options br {
    line-height: 150%;
}
