div #Autoplay {
    user-select: none;
}

div #Autoplay div.topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div #Autoplay div.controls {
    display: flex;
    align-items: center;
}

div #Autoplay div.speedOptions {
    position: relative;
    right: 20px;
}

div #Autoplay input {
    background: white;
    border: 1px solid #275579;
    padding: 3px;
    padding-left: 7px;
    width: 55px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    outline: none;
}

div #Autoplay input:focus {
    outline: none;
}

div #Autoplay button {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color: white;
    cursor: pointer;
    outline: none;
    background: #275579;
    border: 1px solid #e2f2ff;
    user-select: none;
}

div #Autoplay button:hover {
    background: #1f4461;
}

div #Autoplay button:active {
    background: #19364e;
}

div #Autoplay button.playButton {
    padding: 6px 0;
    width: 70px;
}

div #Autoplay button.stopButton {
    padding: 6px 0;
    width: 70px;
}

div #Autoplay div.songBackground {
    background: white;
    border: 1px solid #275579;
    box-sizing: border-box;
    overflow-x: hidden;
    resize: vertical;
    scroll-behavior: smooth;
    width: 100%;
    min-height: 100px;
    height: 252px;
    margin: 7px auto;
}

div #Autoplay div.songProgress {
    box-sizing: border-box;
    min-height: 250px;
    padding: 5px;
    width: 100%;
}

div #Autoplay div.songProgress span.highlight {
    background-color: #9fd4ff;
}
