.hidden {
    display: none;
}

arrow {
    border: solid #9fd4ff;
    border-width: 0 6px 6px 0;
    box-shadow: 2px 2px 0 0 #275579;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

arrow.up {
    transform: rotate(-135deg);
}

arrow.down {
    transform: rotate(45deg);
}

arrow.right {
    transform: rotate(-45deg);
}

arrow.left {
    transform: rotate(135deg);
}

arrow:hover {
    border: solid #92c3ea;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 5px;
}

arrow:active {
    border: solid #7eafd6;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 5px;
}

div.header {
    text-align: center;
}

.shortcut {
    font-family: 'Courier New', monospace;
    color: #275579;
    font-weight: bold;
}

.sheetNotes {
    font-family: 'Courier New', monospace;
    font-size: 12px;
    font-weight: bold;
}

.sheetNotesText {
    font-family: 'Courier New', monospace;
    font-size: 12px;
    font-weight: bold;
}

div.selector select {
    display: none;
}

div.selected {
    background: #275579;
}

div.selected:after {
    position: absolute;
    content: "";
    top: 11px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: white transparent transparent transparent;
}

div.selected.activeArrow:after {
    border-color: transparent transparent white transparent;
    top: 4px;
}

div.selectorItems {
    position: absolute;
    background: #275579;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

div.selectorItems div, div.selected {
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    border-color: transparent transparent #052138 transparent;
    cursor: pointer;
    user-select: none;
}

div.selectorItems div:hover, div.selectedOption {
    background-color: #1b3b54;
}

label.container {
    position: relative;
    height: 25px;
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    user-select: none;
}

label.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

span.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #275579;
    background-color: white;
}

label.container:hover input ~ span.checkmark {
    background-color: #92c3ea;
}

label.container input:checked ~ span.checkmark {
    background-color: #275579;
}

span.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

label.container input:checked ~ span.checkmark:after {
    display: block;
}

label.container span.checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
